@import '@styles/animations';

.side-projects-top {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem;

  button.side-projects-toggle-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    border: none;
    background: transparent;
    border-radius: 5px;
    padding: 1rem 1.25rem;
    transition: background-color 0.2s ease;

    svg {
      display: flex;
      height: 1.5rem;
      width: 1.5rem;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}

.side-projects-list {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
  
  &.show {
    display: grid;
  }
}

@media (min-width: 768px) {
  .side-projects-title {
    font-size: 1.75rem;
    margin: 0 0 5rem;
  }
}

@media (min-width: 992px) {
  .side-projects-list {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}