@import '@styles/animations';

.mobile-menu-toggle-btn {
  background: none;
  border: none;
  z-index: 2;
  @include animateFadeIn(1.4s);

  .mobile-menu-icon {
    display: block;
    height: 2rem;
    width: 2rem;
  }
}

@media (min-width: 768px) {
  .mobile-menu-toggle-btn {
    display: none;
  }
}
