@import '@styles/animations';

.about-container {
  min-height: 80vh;
  width: 100%;

  .about-title {
    font-size: 1.5rem;
    margin: 0 0 2rem;

    span {
      margin: 0 0.5rem 0 0;
    }
  }

  .about-information {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0;

    .about-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 2.5rem;

      .about-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        max-width: 12rem;

        &.fade-in {
          @include animateFadeIn(1s);
        }

        img {
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .about-photo-name {
        font-size: 1.25rem;
        margin: 1.5rem 0 0;
      }
    }

    .about-right {

      p {
        line-height: 1.5;
        font-size: 1rem;
      }

      hr {
        border: none;
        margin: 0.75rem 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .about-container {
    
    .about-title {
      font-size: 2rem;
    }

    .about-information {
      flex-direction: row;
      padding: 3rem 0 0;
      gap: 2rem;

      .about-left {
        width: 40%;
        padding: 0;

        .about-photo-name {
          font-size: 1.5rem;
        }
      }

      .about-right {
        width: 60%;

        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .about-container {

    .about-information {

      .about-left {
        width: 30%;
      }

      .about-right {
        width: 70%;
      }
    }
  }
}
