@import '@styles/colors';
@import '@styles/animations';

.about-container {
  min-height: 80vh;
  width: 100%;

  .about-title {
    font-size: 1.5rem;
    margin: 0 0 2rem;

    span {
      color: map-get($theme, 'inactive');
      margin: 0 0.5rem 0 0;
    }
  }

  .about-information {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .about-left {

      p {
        line-height: 1.6;
        font-size: 1rem;
      }

      hr {
        border: none;
        height: 1px;
        background-color: map-get($theme, 'inactive');
        margin: 1rem 0;
      }

      .about-skills {

        .about-skills-title {
          font-size: 1rem;
          margin: 0 0 1rem;
        }
      }
    }

    .about-right {
      display: flex;
      justify-content: center;

      .about-photo {
        height: 14rem;
        width: 20rem;
        border: 1px solid white;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .about-container {
    
    .about-title {
      font-size: 1.75rem;
    }

    .about-information {
      flex-direction: row;
      gap: 4rem;

      .about-left {

        p {
          font-size: 1.15rem;
        }

        .about-skills {

          .about-skills-title {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}