@import '@styles/colors';

.about-container {
  position: relative;
  min-height: 70vh;
  width: 100%;

  .about-intro {
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    white-space: nowrap;

    .about-name, .about-description {
      opacity: 0;
      transform: translateY(1.25rem);
      animation: fadeInSlideUp 0.5s forwards;
    }

    .about-name {
      font-size: 2rem;
      animation-delay: 0.5s;
    }

    .about-description {
      font-size: 1.25rem;
      animation-delay: 0.6s;
    }
  }
}

@media (min-width: 768px) {
  .about-container {

    .about-intro {
      top: 26vh;

      .about-name {
        font-size: 2.5rem;
      }

      .about-description {
        font-size: 1.5rem;
      }
    }
  }
}