@use '@styles/animations';
@use '@styles/colors';

.about-container {
  min-height: 80vh;
  width: 100%;
  opacity: 0;
  transform: translateX(-5%);
  transition: transform 0.8s ease, opacity 0.6s ease;

  &.slide-in {
    transform: translateX(0);
    opacity: 1;
  }

  .about-title {
    font-size: 1.5rem;
    padding: 0 0 2rem;
    @include colors.theme-color(color, text);
    border-bottom: 1px solid;
    @include colors.theme-color(border-color, border);

    span {
      margin: 0 0.5rem 0 0;
      @include colors.theme-color(color, accent);
    }
  }

  .about-information {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    .about-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 0 2.25rem;

      @media (min-width: 1200px) {
        width: 25%;
      }

      .about-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        max-width: 12rem;

        &.fade-in {
          @include animations.animateFadeIn(1s);
        }

        img {
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }
      }

      .about-photo-name {
        font-size: 1.25rem;
        margin: 1.5rem 0 0;
        @include colors.theme-color(color, text);
      }
    }

    .about-right {
      border-radius: 5px;

      @media (min-width: 1200px) {
        width: 75%;
      }

      p {
        line-height: 1.5;
        font-size: 1rem;
        @include colors.theme-color(color, text);
      }

      hr {
        border: none;
        margin: 0.75rem 0;
      }

      .university-link {
        transition: color 0.2s ease;

        &:hover {
          @include colors.theme-color(color, accent);
        }
        
      }
    }
  }
}

@media (min-width: 768px) {
  .about-container {

    .about-title {
      font-size: 2rem;
    }

    .about-information {
      flex-direction: row;
      padding: 2.5rem 0 0;
      gap: 2rem;

      .about-left {
        width: 40%;
        padding: 0;

        .about-photo-name {
          font-size: 1.5rem;
        }
      }

      .about-right {
        width: 60%;

        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}
