@import '@styles/colors';

.navbar-container {
  display: flex;
  flex-direction: column;
  
  .navbar-home,
  .navbar-projects,
  .navbar-about,
  .navbar-skills {
    opacity: 0.3;
    transition: opacity 0.2s ease;

    &:hover {
      cursor: pointer;
    }

    &.active {
      opacity: 1;
    }
  }
}