@import '@styles/colors';
@import '@styles/animations';

.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  
  .navbar-about,
  .navbar-projects,
  .navbar-skills,
  .navbar-contact {
    color: map-get($theme,'inactive');
    opacity: 0;
    transform: translateY(1.25rem);
    transition: color 0.2s ease;
    animation: fadeInSlideUp 0.4s forwards;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      color: map-get($theme, 'hover');
    }

    &.active {
      color: map-get($theme, 'secondary');
      font-weight: 500;
      pointer-events: none;
    }
  }

  .navbar-about {
    animation-delay: 1.9s;
  }

  .navbar-projects {
    animation-delay: 2.1s;
  }

  .navbar-skills {
    animation-delay: 2.3s;
  };

  .navbar-contact {
    animation-delay: 2.5s;
  }
}

@media (min-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 0.15rem;

    .navbar-about,
    .navbar-projects,
    .navbar-skills,
    .navbar-contact {
      font-size: 1.25rem;
    }
  }
}