.email-tip {
  position: absolute;
  padding: 0.75rem;
  top: -2.25rem;
  transform: translateX(-50%);
  left: 50%;
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}