@import '@styles/colors';
@import '@styles/animations';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem;
  border-radius: 0.25rem;
  opacity: 0;
  transform: translateY(1.25rem);
  animation: fadeInSlideUp 0.5s forwards;
  animation-delay: 1.5s;
  transition: background-color 0.2s ease;

  .logo-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .logo {
    justify-content: left;
    margin: 0 0 6rem;

    .logo-text {
      font-size: 1.25rem;
    }
  }
}
