@import '@styles/colors';

.projects-container {
  border-bottom: 1px solid map-get($theme, 'secondary');
  height: 100vh;
  padding: 10rem 0 0;
}

@media (min-width: 768px) {
  .projects-container {
    height: calc(100vh - 2rem);
    padding: 2rem 0;
  }
}