@import '@styles/colors';
@import '@styles/animations';

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .projects-title {
    font-size: 1.5rem;
    margin: 0 0 3rem;
    @include animateFadeIn(0.9s);
    transition: background-color 0.2s ease;

    span {
      color: map-get($theme, 'inactive');
      margin: 0 0.5rem 0 0;
    }
  }

  .projects-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}