@import '@styles/colors';

.projects-container {
  min-height: 40vh;
  width: 100%;

  .projects-title {
    font-size: 1.75rem;
    margin: 0 0 2rem;
    text-align: center;
  }

  .projects-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .projects-container {
    padding: 0 10%;

    .projects-list {
      grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    }
  }
}