.override-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  transition: border 0.2s ease;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  .override-msg {
    position: absolute;
    top: -5.75rem;
    right: -75%;
    padding: 1.25rem 1.5rem;
    border-radius: 5px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 53%;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
    }

    &::before {
      bottom: -2rem;
    }

    &::after {
      bottom: -1.9rem;
    }
  }

  .project-link-icon {
    height: 1rem;
    width: 1rem;
  }
}

@media (min-width: 768px) {
  .override-btn {

    .override-msg {
      right: -10%;

      &::before,
      &::after {
        left: 75%;
      }
    }
  }
}