@import '@styles/colors';
@import '@styles/animations';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  .home-intro {
    
    .home-title {
      font-size: 3rem;
      @include animateFadeIn(0.5s);
    }

    .home-subtitle {
      font-size: 2rem;
      margin: 0 0 1rem;
      @include animateFadeIn(0.6s);
    }

    .home-description {
      font-size: 1rem;
      margin: 0 0 2rem;
    }
  }
}

@media (min-width: 768px) {
  .home-container {

    .home-intro {
      
      .home-title {
        font-size: 5rem;
      }

      .home-subtitle {
        font-size: 3rem;
      }

      .home-description {
        font-size: 1.25rem;
      }
    }
  }
}