@import '@styles/animations';

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85dvh;
  width: 100%;

  .home-intro {
    padding: 0 0 6rem;
    
    .home-title {
      font-size: 3.5rem;
      font-weight: 550;
      margin: 0 0 0.5rem;
      @include animateFadeIn(0.5s);
    }
  }
}

@media (min-width: 768px) {
  .home-container {

    .home-intro {
      padding: 0 0 8rem;
      
      .home-title {
        font-size: 6rem;
      }

      .home-links {
        flex-direction: row;
      }
    }
  }
}