@import '@styles/colors';
@import '@styles/animations';

.home-container {
  position: relative;
  border-bottom: 1px solid map-get($theme, 'secondary');
  height: calc(100vh - 2rem);
  padding: 2rem 0;

  .home-intro {
    position: absolute;
    top: 26vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;

    .home-name, .home-description {
      opacity: 0;
      transform: translateY(1.25rem);
      animation: fadeInSlideUp 0.5s forwards;
    }

    .home-name {
      font-size: 2.5rem;
      animation-delay: 0.5s;
    }

    .home-description {
      font-size: 1.5rem;
      animation-delay: 0.6s;
    }
  }
}
