@import '@styles/colors';
@import '@styles/animations';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  width: 100%;

  .home-intro {
    padding: 0 0 4rem;
    
    h1.home-title {
      font-size: 3rem;
      margin: 0 0 0.5rem;
      @include animateFadeIn(0.5s);
    }

    h2.home-subtitle {
      font-size: 1.75rem;
      margin: 0 0 3rem;
      @include animateFadeIn(0.6s);
    }

    /* h3.home-read-more {
      font-size: 1.25rem;
      @include animateFadeIn(2.5s);
    } */
  }
}

@media (min-width: 768px) {
  .home-container {

    .home-intro {
      padding: 0 0 6rem;
      
      h1.home-title {
        font-size: 5rem;
      }

      h2.home-subtitle {
        font-size: 2rem;
      }

      /* h3.home-read-more {
        font-size: 1.5rem;
      } */
    }
  }
}