@import '../../../styles/animations';
@import '../../../styles/colors';

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  width: 100%;

  .home-intro {
    padding: 0 0 6rem;

    .home-title {
      font-size: 3.5rem;
      font-weight: 550;
      @include animateFadeIn(0s);
      @include theme-color(color, accent);
    }
  }
}

@media (min-width: 768px) {
  .home-container {

    .home-intro {
      padding: 0 0 8rem;

      .home-title {
        font-size: 6rem;
      }

      .home-links {
        flex-direction: row;
      }
    }
  }
}