@import '../../../styles/animations';
@import '../../../styles/colors';

.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100%;
  
  .home-intro {
    padding: 0 0 6rem;

    @media (min-width: 768px) {
      padding: 0 0 8rem;
    }

    .home-title {
      font-size: 3.75rem;
      font-weight: 550;
      @include animateFadeIn(0s);
      @include theme-color(color, accent);

      @media (min-width: 602px) {
        font-size: 5.25rem;
      }

      @media (min-width: 992px) {
        font-size: 6.5rem;
      }
    }
  }
}