@import '../../../styles/animations';

.mobile-menu-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  /* @include animateFadeIn(1.1s); */
}

@media (min-width: 768px) {
  .mobile-menu-toggle-btn {
    display: none;
  }
}