.node-vector {
  position: absolute;
  bottom: 10rem;
  right: -5rem;
  height: 20rem;
  width: 20rem;
  transform: rotate(-15deg);
  z-index: 1;

  g {
    opacity: 0.15;
  }
}

@media (min-width: 768px) {
  .node-vector {
    bottom: 2rem;
    right: -9rem;
    height: 30rem;
    width: 30rem;
  }
}