.node-vector {
  position: absolute;
  bottom: 11rem;
  right: -4rem;
  height: 16rem;
  width: 16rem;
  
  transform: rotate(45deg);
  z-index: -1;

  g {
    opacity: 0.15;
  }
}

@media (min-width: 768px) {
  .node-vector {
    bottom: 1rem;
    right: -10rem;
    height: 26rem;
    width: 26rem;
  }
}