.node-vector {
  position: absolute;
  bottom: 9rem;
  right: -5.5rem;
  height: 22rem;
  width: 22rem;

  g {
    opacity: 0.07;
  }
}

@media (min-width: 768px) {
  .node-vector {
    bottom: 2rem;
    right: -10rem;
    height: 31rem;
    width: 31rem;
  }
}