@use '@styles/animations.scss';
@use '@styles/colors.scss';

.overlay-wrapper {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7); 
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.2s ease forwards;
	overflow-y: scroll;

	&.closing {
    animation: fadeOut 0.2s ease forwards;
  }

	.resume-overlay {
		width: 82vw; 
		height: calc(82vw * 1.2941);
		position: relative;
		display: flex;
		justify-content: center;
		background: colors.$light-theme-bg;
		animation: appearFromLeft 0.2s ease forwards;

		&.closing {
      animation: slideOutToLeft 0.2s ease forwards;
    }

		@media (min-width: 468px) {
			width: 72vw;
			height: calc(72vw * 1.2941);
		}

		@media (min-width: 768px) {
			width: 56vw;
			height: calc(56vw * 1.2941);
		}

		@media (min-width: 992px) {
			width: 52vw;
			height: calc(52vw * 1.2941);
		}

		@media (min-width: 1160px) {
			width: 45vw;
			height: calc(45vw * 1.2941);
		}

		@media (min-width: 1280px) {
			width: 36vw;
			height: calc(36vw * 1.2941);
		}

		@media (min-width: 1400px) {
			width: 32vw;
			height: calc(32vw * 1.2941);
		}

		.resume-container {
			height: 100%;
			width: 100%;
			border: 1px solid colors.$dark-theme-bg;
		}
	}
}

.ro-close-btn {
	position: absolute;
	top: -2.5rem;
	left: 0;
	color: colors.$light-theme-bg;
	transition: all 0.2s ease;

	@media (min-width: 768px) {
		left: auto;
		top: 0.5rem;
		right: -3rem;
	}

	svg {
		height: 1.5rem;
		width: 1.5rem;

		@media (min-width: 768px) {
			height: 2rem;
			width: 2rem;
		}
	}
}
