.divider {
  border: none;
  width: 25%;
  margin: 4rem 0 6rem;
}

@media (min-width: 768px) {
  .divi-1 {
    width: 50%;
    margin: 2rem 0 3rem;
  }
  
  .divi-2 {
    width: 50%;
    margin: 5rem 0 8rem;
  }
  
}