@import '@styles/colors';

hr.divider {
  border: none;
  height: 1px;
  background-color: map-get($theme, 'secondary');
  width: 25%;
  margin: 8rem 0 6rem;
}

@media (min-width: 768px) {
  hr.divider {
    width: 50%; 
    margin: 10rem 0 8rem;
  }
}