@import '@styles/animations';

.road-vector {
  position: absolute;
  bottom: -1rem;
  right: -45%;
  height: 65vh;

  @include animateFadeIn(1.7s);

  path {
    opacity: 0.15;
  }
}

@media (min-width: 768px) {
  .road-vector {
    height: 65vh;
    bottom: -2vh;
    right: 2%;
    @include animateFadeIn(2s);
  }
}

@media (min-width: 1200px) {
  .road-vector {
    right: 15%;
  }
}