@import '../../../../styles/animations';
@import '../../../../styles/colors';

.road-vector {
  position: absolute;
  bottom: -1rem;
  right: -45%;
  height: 65vh;

/*   @include animateFadeIn(1.5s); */

  path {
    @include theme-color(fill, border);
    opacity: 0.15;
  }
}

@media (min-width: 768px) {
  .road-vector {
    height: 65vh;
    bottom: -2vh;
    right: 2%;
  /*   @include animateFadeIn(1.8s); */
  }
}

@media (min-width: 1200px) {
  .road-vector {
    right: 15%;
  }
}