@import '../../../../../styles/animations';
@import '../../../../../styles/colors';

.main-projects-title {
  font-size: 1.5rem;
  padding: 0 0 2.5rem;
  @include theme-color(color, text);
  border-bottom: 1px solid;
  @include theme-color(border-color, border);

  span {
    margin: 0 0.5rem 0 0;
    @include theme-color(color, accent);
  }
}

.main-projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 0 2.5rem;
  padding: 2rem 0 0;
}

@media (min-width: 768px) {
  .main-projects-title {
    font-size: 2rem;
  }

  .main-projects-list {
    gap: 3rem;
    padding: 3rem 0 0;
    margin: 0 0 3.5rem;
  }
}