@import '@styles/animations';

.main-projects-title {
  font-size: 1.5rem;
  margin: 0 0 2rem;
  @include animateFadeIn(0.9s);
  transition: background-color 0.2s ease;

  span {
    margin: 0 0.5rem 0 0;
  }
}

.main-projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 0 4rem;
  padding: 3rem 0 0;
}

@media (min-width: 768px) {
  .main-projects-title {
    font-size: 2rem;
    margin: 0 0 3rem;
  }

  .main-projects-list {
    margin: 0 0 3.5rem;
  }
}