@use '@styles/animations';
@use '@styles/colors';

.main-projects-title {
  font-size: 1.5rem;
  padding: 0 0 2rem;
  @include colors.theme-color(color, text);
  border-bottom: 1px solid;
  @include colors.theme-color(border-color, border);

  span {
    margin: 0 0.5rem 0 0;
    @include colors.theme-color(color, accent);
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.main-projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 0 1rem;
  padding: 2rem 0 0;

  @media (min-width: 768px) {
    padding: 3rem 0 0;
    margin: 0 0 1.5rem;
  }
}
