@import '../../../../styles/animations';
@import '../../../../styles/colors';

.dynamic-subtitle {
  position: relative;
  height: 1.75rem;
  font-size: 1.5rem;
  overflow: hidden;
  opacity: 1;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    opacity: 0;
    @include theme-color(color, text);

    &:nth-child(1) {
      animation: slideInText 16s ease-in-out infinite 0s;
    }

    &:nth-child(2) {
      animation: slideInText 16s ease-in-out infinite 4s;
    }

    &:nth-child(3) {
      animation: slideInText 16s ease-in-out infinite 8s;
    }

    &:nth-child(4) {
      animation: slideInText 16s ease-in-out infinite 12s;
    }
  }
}

@media (min-width: 768px) {
  .dynamic-subtitle {
    height: 2.25rem;
    font-size: 2rem;
  }
}