@import '../../../../styles/animations';
@import '../../../../styles/colors';

.dynamic-subtitle {
  position: relative;
  height: 2rem;
  font-size: 1.5rem;
  overflow: hidden;
  opacity: 1;


  span {
    display: flex;
    line-height: 1.1;
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    @include theme-color(color, text);

    &:nth-child(1) {
      animation: slideInText 12s ease-in-out infinite 0s;
    }

    &:nth-child(2) {
      animation: slideInText 12s ease-in-out infinite 3s;
    }

    &:nth-child(3) {
      animation: slideInText 12s ease-in-out infinite 6s;
    }

    &:nth-child(4) {
      animation: slideInText 12s ease-in-out infinite 9s;
    }
  }
}

@media (min-width: 768px) {
  .dynamic-subtitle {
    padding: 0;
    height: 2.5rem;
    font-size: 2rem;
  }
}