@import '@styles/colors';
@import '@styles/animations';

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 60vh;

  @include animateFadeIn(1.9s);
  
  .skills-title {
    font-size: 1.25rem;
    margin: 0 0 3rem;
    
    span {
      color: map-get($theme, 'inactive');
      margin: 0 0.5rem 0 0;
    }
  }

  .skills-list {
    display: inherit;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .skills-container {
    .skills-title {
      font-size: 1.5rem;
    }
  }
}