@import '@styles/colors';

.skills-container {
  width: 100%;
  border-bottom: 1px solid map-get($theme, 'secondary');
  padding: 10rem 0 0;
  height: 100vh;
  
  .skills-title {
    font-size: 1.25rem;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .skills-container {
    padding: 2rem 0;
    height: calc(100vh - 2rem);
  }
}