@mixin animateFadeIn($delay) {
  opacity: 0;
  transform: translateY(1rem);
  animation: fadeInSlideUp 0.5s forwards;
  animation-delay: $delay;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes nudgeDown {

  0%,
  20%,
  100% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(1.5rem);
  }
}

@keyframes slideDownAndDisappear {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(200vh);
    opacity: 0;
  }
}

@keyframes fluctuateSize {
  0% {
    font-size: 1.5rem;
  }

  100% {
    font-size: 1.75rem;
  }
}

@keyframes slideInText {

  0%,
  5% {
    transform: translateY(-100%);
    opacity: 0;
  }

  6%,
  29% {
    transform: translateY(0);
    opacity: 1;
  }

  30%,
  94% {
    transform: translateY(100%);
    opacity: 0;
  }

  95%,
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}