$dark-theme: (
  pri: #1A1A1A,
  sec: #F7F7FC,
  acc1: #67B896,
  acc2: #5C5C5C,
  body-background-color: #1A1A1A,
  box-background-color: #1A1A1A,
  project-border-color: #5C5C5C,
);

$light-theme: (
  pri: #FBFBFD,
  sec: #1A1A1A,
  acc1: #0066CC,
  acc2: #A8A8A8,
  body-background-color: #FBFBFD,
  box-background-color: #FBFBFD,
  project-border-color: #FBFBFD,
);

@mixin theme($theme) {

  $pri: map-get($theme, pri);
  $sec: map-get($theme, sec);
  $acc1: map-get($theme, acc1);
  $acc2: map-get($theme, acc2);
  $body-background-color: map-get($theme, body-background-color);
  $box-background-color: map-get($theme, box-background-color);
  $project-border-color: map-get($theme, project-border-color);

  background: $body-background-color;

  // Header

  .header-container {
    background: $pri;

    // Navbar

    .mobile-navbar-home,
    .mobile-navbar-about,
    .mobile-navbar-projects,
    .mobile-navbar-contact,
    .desktop-navbar-home,
    .desktop-navbar-about,
    .desktop-navbar-projects,
    .desktop-navbar-contact {
      color: $acc2;

      &:hover {
        color: $acc1;
      }

      &.active {
        color: $sec;
      }
    }

    .logo-text {
      color: $sec;
    }

    // Mobile Menu

    .mobile-menu-toggle-btn {

      svg {
        stroke: $sec;
      }
    }

    .mobile-menu-container {
      background: $pri;
      border-left: 1px solid $sec;
    }
  }

  // LightDark

  .light-dark-toggle-btn {

    .light-icon {
      stroke: $acc2;
      transition: stroke 0.2s ease;
    }

    &:hover {

      .light-icon {
        stroke: $sec;
      }
    }
  
    .dark-icon {
      stroke: $acc2;
      fill: $pri;
      transition: stroke, 0.2s ease, fill 0.2s ease;
    }

    &:hover {

      .dark-icon {
        stroke: $sec;
        fill: $sec;
      }
    }
  }

  // Main

  .main-container {

    .divider {
      background: $acc2;
    }

    // Home

    .home-container {

      .home-title {
        color: $acc1;
      }

      .home-subtitle {
        color: $sec;
      }
    }

    // Scroll

    .scroll-container {

      svg {
        stroke: $sec;
      }
    }

    // About

    .about-container {

      .about-title {
        color: $sec;

        span {
          color: $acc1;
        }
      }

      hr {
        background: $acc2;
      }

      .about-information {
        border-top: 1px solid $acc2;

        p {
          color: $sec;
        }

        hr {
          background: none;
        }

        /* .about-photo {
          border: 1px solid $sec;
        } */

        .about-photo-name {
          color: $sec;
        }
      }

      .about-skills {
        border-top: 1px solid $acc2;

        .about-skills-title {
          color: $sec;
        }

        .about-skill {
          color: $sec;
        }
      }
    }

    // Projects

    .projects-container {

      .main-project-image {

        img {
          border: 1.5px solid $acc2;

          &:hover {
            border: 1.5px solid $sec;
          }

        }
      }

      .main-projects-title {
        color: $sec;

        span {
          color: $acc1;
        }
      }

      .main-projects-list {
        border-top: 1px solid $acc2;
      }

      .main-project,
      .side-project {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background: $box-background-color;
        border: 1.5px solid $project-border-color;
        /* transition: box-shadow 0.3s ease; */

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 12px;
        }
      }

      .new-project-label {
        color: $acc1;
      }

      .side-project {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      .project-1 {
        border: 1.5px solid $acc1;
      }

      .main-project-year,
      .side-project-year {
        color: $acc1;
      }

      .main-project-name,
      .main-project-description,
      .side-project-name,
      .side-project-description {
        color: $sec;
      }

      .main-project-demo-link,
      .main-project-code-link,
      .side-project-demo-link,
      .side-project-code-link,
      .override-btn {
        border: 1.5px solid $acc2;

        &:hover {
          border: 1.5px solid $sec;
        }
      }

      .side-projects-top {
        border-top: 1.5px solid $acc2;
      }

      .side-projects-toggle-btn {
        color: $sec;

        &:hover {
          color: $acc1;
        }
      }

      .side-projects-description {
        color: $sec;
      }

      .main-project-link-text,
      .side-project-link-text {
        color: $sec;
      }

      .project-link-icon {
        fill: $sec;
      }

      .override-btn {

        .override-btn-text,
        .override-msg {
          color: $sec;
        }

        .override-msg {
          border: 1px solid $acc1;
          background: $pri;

          &::before {
            border-top: 1rem solid $acc1;
          }

          &::after {
            border-top: 1rem solid $pri;
          }
        }
      }
    }

    // Contact

    .contact-container {

      .contact-title {
        color: $sec;

        span {
          color: $acc1;
        }
      }

      .contact-info {
        border-top: 1px solid $acc2;
      }

      .contact-paragraph {
        color: $sec;
      }

      hr {
        background: $sec;
      }

      .contact-email-address {
        color: $sec;

        &:hover {
          color: $acc1;
        }

        &:active {
          color: $sec;
        }

        .email-tip {
          color: $sec;
        }
      }

      .contact-linkedin,
      .contact-email,
      .contact-github {

        svg {
          fill: $sec;

          &:hover {
            fill: $acc1;
          }
        }
      }
    }
  }

  // Footer

  .footer-container {

    .footer-text {
      color: $sec;
    }
  }
}

body {
  &.dark-theme {
    @include theme($dark-theme);
  }

  &.light-theme {
    @include theme($light-theme);

    .projects-container {

      .main-projects-list {

        .main-project-demo-link,
        .main-project-code-link,
        .override-btn {
          border: 1.5px solid map-get($light-theme, sec);
          
          &:hover {
            border: 1.5px solid map-get($light-theme, acc1);
          }
        }
      }

      .side-projects-list {

        .side-project-demo-link,
        .side-project-code-link,
        .override-btn {
          border: 1.5px solid map-get($light-theme, sec);
  
          &:hover {
            border: 1.5px solid map-get($light-theme, acc1);
          }
        }
      }
    }
  }
}