@import '@styles/colors';

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost.ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Jost';
  background-color: map-get($theme, 'primary');
  color: map-get($theme, 'secondary');
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-size: 1em;
  font-weight: normal;
}

ul, ol {
  list-style-type: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

@media (min-width: 468px) {
  .app-container {
    padding: 0 5rem;
  } 
}

/* @media (min-width: 768px) {
  .app-container {
    padding: 0 5rem;
  } 
}
 */
@media (min-width: 992px) {
  .app-container {
    padding: 0 10rem;
  } 
}

@media (min-width: 1200px) {
  .app-container {
    padding: 0 15rem;
  } 
}
