$dark-theme-bg: #1A1A1A;
$dark-theme-text: #F7F7FC;
$dark-theme-border: #8A8A8A;
$dark-theme-accent: #67B896;
$dark-theme-proj-border: #7C7C7C;
$dark-theme-proj-button-bg: #1A1A1A;
$dark-theme-proj-button-border: #F7F7FC;
$dark-theme-proj-button-color: #F7F7FC;

$light-theme-bg: #FAF9F6;
$light-theme-text: #1A1A1A;
$light-theme-border: #8A8A8A;
$light-theme-accent: #38369A;
$light-theme-proj-border: #FAF9F6;
$light-theme-proj-button-bg: #38369A;
$light-theme-proj-button-border: #38369A;
$light-theme-proj-button-color: #F7F7FC;

$themes: (
  dark: (
    bg: $dark-theme-bg,
    text: $dark-theme-text,
    border: $dark-theme-border,
    accent: $dark-theme-accent,
    proj-border: $dark-theme-proj-border,
    proj-button-bg: $dark-theme-proj-button-bg,
    proj-button-border: $dark-theme-proj-button-border,
    proj-button-color: $dark-theme-proj-button-color,
  ),
  light: (
    bg: $light-theme-bg,
    text: $light-theme-text,
    border: $light-theme-border,
    accent: $light-theme-accent,
    proj-border: $light-theme-proj-border,
    proj-button-bg: $light-theme-proj-button-bg,
    proj-button-border: $light-theme-proj-button-border,
    proj-button-color: $light-theme-proj-button-color,
  )
);

@mixin theme-color($property, $color-key) {
  @each $theme, $colors in $themes {
    .#{$theme} & {
      #{$property}: map-get(map-get($themes, $theme), $color-key);
    }
  }
}

@mixin theme-border-top($pseudo-element, $color-key) {
  @each $theme, $colors in $themes {
    .#{$theme} &::#{$pseudo-element} {
      border-top: 1rem solid map-get(map-get($themes, $theme), $color-key);
    }
  }
}