@import '@styles/colors';
@import '@styles/animations';

.contact-container {
  min-height: 30vh;

  .contact-title {
    text-align: center;
    font-size: 1.75rem;
    margin: 0 0 2rem;
  }

  .contact-selection {
    display: flex;
    flex-direction: column;

    .contact-top {
      display: inherit;
      justify-content: center;
      margin: 0 0 1rem;

      .contact-email-address {
        font-size: 1.25rem;
      }
    }

    .contact-bottom {
      display: inherit;
      justify-content: center;
      gap: 0.5rem;

      .contact-option {
        display: inherit;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 5px;
        transition: background-color 0.2s ease;
        
        &:hover {
          cursor: pointer;
          background-color: lighten(map-get($theme, 'primary'), 10%);
        }
        
        .contact-linkedin,
        .contact-github {
          display: inherit;
          justify-content: center;
          align-items: center;
          
          svg {
            height: 2.5rem;
            width: 2.5rem;
          }
        }

        .contact-email {

          svg {
            height: 2.25rem;
            width: 2.25rem;
          }
        }
      }
    }
  }
}
