@use '@styles/animations';
@use '@styles/colors';

.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .contact-title {
    font-size: 1.5rem;
    padding: 0 0 2rem;
    @include colors.theme-color(color, text);
    border-bottom: 1px solid;
    @include colors.theme-color(border-color, border);

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    span {
      margin: 0 0.5rem 0 0;
      @include colors.theme-color(color, accent);
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 5rem;
    transform: translateX(-4%);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
    }

    &.slide-in {
      transform: translateX(0);
      opacity: 1;
    }

    .contact-paragraph {
      font-size: 1.1rem;
      line-height: 1.4;
      padding: 0 0 3rem;
      @include colors.theme-color(color, text);

      @media (min-width: 768px) {
        text-align: left;
        margin: 0;
        width: 80%;
      }
  
    }

    hr {
      border: none;
      height: 1px;
      margin: 2rem 0;
    }

    .contact-selection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: 768px) {
        align-items: flex-start;
      }

      .contact-top {
        margin: 0 0 1rem;

        @media (min-width: 768px) {
          margin: 0 0 1.25rem;
        }

        .contact-email-address {
          font-size: 1.15rem;
          border-radius: 5px;
          transition: color 0.2s ease;
          text-decoration: none;
          @include colors.theme-color(color, text);
          
          @media (min-width: 768px) {
            position: relative;

            &:hover {
              cursor: pointer;
  
              .email-tip {
                visibility: visible;
                opacity: 1;
                @include colors.theme-color(color, accent);
              }
            }
          }
        }
      }

      .contact-bottom {
        display: inherit;
        gap: 1rem;

        .contact-option {
          display: inherit;
          border-radius: 5px;
          height: 2rem;
          width: 2rem;
          
          svg {
            height: 100%;
            width: 100%;
            transition: color 0.2s ease;

            &:hover {
              cursor: pointer;
              @include colors.theme-color(color, accent);
            }
          }
        }
      }
    }
  }
}