@import '@styles/colors';

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
}

@media (min-width: 768px) {
  .main-container {
    padding: 0 2rem 2rem;
    width: 70%;
    margin: 0 15%;
  }
}