@import '@styles/colors';

.tech-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid map-get($theme, 'primary');
  border-radius: 8px;
  background-color: transparent;
  color: map-get($theme, 'secondary');
  padding: 0.75rem;
  margin: 0.75rem;
  transition: all 0.2s ease;
  
  .tech-svg {
    height: 3rem;
    width: 3rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: lighten(map-get($theme, 'primary'), 7.5%);

    .tech-tip-container {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.95);
  }

  .tech-tip-container {
    position: absolute;
    top: -0.65rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  
    .tech-tip-text { 
      text-align: center;
      font-size: 0.9rem;
      white-space: nowrap;
    }
  }
}