@import '../../../../../styles/colors.scss';

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  @include theme-color(color, text);
  transition: transform 0.15s ease;
  cursor: default;

  &:hover {
    transform: scale(1.1) rotate(2deg);
  }

  span {
    height: 1.5rem;
    width: 1.5rem;
  }
}