@import '../../../../../styles/colors.scss';

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem 0;
  @include theme-color(color, text);

  span {
    height: 1.5rem;
    width: 1.5rem;
  }
}