@use '@styles/colors.scss';

.download-resume-btn {
	position: absolute;
	right: 0;
	top: -2.5rem;
	color: colors.$dark-theme-bg;
	transition: all 0.2s ease;

	@media (min-width: 768px) {
		top: 4rem;
		right: -3rem;
	}

	svg {
		height: 1.5rem;
		width: 1.5rem;
		color: colors.$light-theme-bg;

		@media (min-width: 768px) {
			height: 2rem;
			width: 2rem;
		}
	}
}