---
import Footer from "../components/Footer/Footer";
import Header from "../components/Header/Header";
import Main from "../components/Main/Main";

import '../styles/global.scss';
---

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Mark Melnik is a software engineer based in New York City - see more!" />
  <title>Mark Melnik</title>
  <link rel="icon" href="/favicon.ico?" type="image/x-icon">
</head>

<body>
  <div class="app-container">
    <Header client:load/>
    <Main client:only/>
    <Footer client:only/>
  </div>
  <script>
    document.body.className = 'dark';
  </script>
</body>

</html>