@import '@styles/animations';

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 0 1.4rem;
  z-index: 1;
  width: 100%;
  transition: top 0.4s;
  z-index: 2;

  &.hidden {
    top: -6.5rem;
  }

  .header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0 1rem;
  }
}

@media (min-width: 468px) {
  .header-container {
    padding: 0 4rem;

    .header-content {
      flex-direction: row;
      padding: 2.5rem 0;
    }
  }
}

@media (min-width: 992px) {
  .header-container {
    padding: 0 9rem;
  }
}

@media (min-width: 1200px) {
  .header-container {
    padding: 0 14rem;
  }
}