@import '@styles/colors';
@import '@styles/animations';

.light-dark-toggle-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0 1rem 0 0;
  @include animateFadeIn(1.8s);

  .dark-icon,
  .light-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .light-dark-toggle-btn {
    padding: 0 0 0 1rem;

    .dark-icon,
    .light-icon {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
}