@import '@styles/colors';
@import '@styles/animations';

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 0 2rem;
  background-color: map-get($theme, 'primary');
  z-index: 1;
  width: 100%;

  .sidebar-top {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  .sidebar-bottom {
    width: 0;
    opacity: 0;
    border-bottom: 1px solid map-get($theme, 'secondary');
    animation: extendRightward 0.6s forwards;
    animation-delay: 2.9s;
  }
}

@media (min-width: 768px) {
  .sidebar-container {
    align-items: center;
    height: 100vh;
    width: 10rem;
    margin: 0;
    padding: 3rem 0 0;

    .sidebar-bottom {
      display: none;
    }
  }
}