@import '../../styles/colors.scss';

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 12vh;
  width: 100%;
  font-size: 1rem;
  margin: 2rem 0;

  .footer-tech {
    @include theme-color(color, border);
    
    a {
      @include theme-color(color, text);
      transition: color 0.2s ease;

      &:hover {
        @include theme-color(color, accent);
      }
    }
  }

  .footer-copyright {
    @include theme-color(color, border);
  }
}