@import '../../styles/colors.scss';

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 4rem;
  margin-top: auto;

  .footer-tech-stack,
  .footer-copyright {
    line-height: 1.2;
  }

  .footer-tech-stack {
    @include theme-color(color, border);
    
    a {
      @include theme-color(color, text);
      transition: color 0.2s ease;

      &:hover {
        @include theme-color(color, accent);
      }
    }
  }

  .footer-copyright {
    @include theme-color(color, border);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
}