.about-skills {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .about-skills-title {
    font-size: 1.1rem;
    margin: 0 0 2rem;
  }

  ul.about-skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 12rem));
    padding: 0 0 0 2.5rem;
  
    li.about-skill {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0 0 1rem 0;
  
      span {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .about-skills {
    align-items: flex-start;

    h3.about-skills-title {
      font-size: 1.5rem;
    }

    ul.about-skills-list {
      padding: 0 0 0 2rem;
    }
  }
}