@import '@styles/animations';

.home-links {
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  display: inline-flex;
  gap: 1.5rem;
  margin: 1rem 0 0;
  z-index: 1;
  @include animateFadeIn(1.8s);

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media (min-width: 768px) {
  .home-links {
    right: 11rem;
    bottom: 1.5rem;
    @include animateFadeIn(2.2s);
  }
}

@media (min-width: 1200px) {
  .home-links {
    right: 18rem;
  }
}

@media (min-width: 1400px) {
  .home-links {
    right: 22rem;
  }
}
