@import '../../../../styles/animations';
@import '../../../../styles/colors';

.home-links {
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  display: inline-flex;
  gap: 1.5rem;
  margin: 1rem 0 0;
  z-index: 1;
  @include animateFadeIn(0.15s);

  svg {
    height: 2.5rem;
    width: 2.5rem;
    transition: color 0.2s ease;

    &:hover {
      @include theme-color(color, accent);
    }
  }
}

@media (min-width: 768px) {
  .home-links {
    right: 11rem;
    bottom: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .home-links {
    right: 18rem;
  }
}

@media (min-width: 1400px) {
  .home-links {
    right: 22rem;
  }
}
