@import '@styles/colors';
@import '@styles/animations';

.navbar-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  
  .navbar-home,
  .navbar-about,
  .navbar-projects,
  .navbar-contact {
    color: map-get($theme,'inactive');
    font-size: 1rem;
    transition: color 0.15s ease;

    &:hover {
      cursor: pointer;
      color: map-get($theme, 'hover');
    }

    &.active {
      color: map-get($theme, 'secondary');
      font-weight: 500;
      pointer-events: none;
    }
  }

  .navbar-home {
    @include animateFadeIn(1.3s);
  }

  .navbar-about {
    @include animateFadeIn(1.5s);
  }

  .navbar-projects {
    @include animateFadeIn(1.7s);
  };

  .navbar-contact {
    @include animateFadeIn(1.9s);
  }
}

@media (min-width: 768px) {
  .navbar-container {
    gap: 2rem;
  }
}