@import '@styles/colors';
@import '@styles/animations';

.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  
  .navbar-about,
  .navbar-projects,
  .navbar-skills,
  .navbar-contact {
    color: map-get($theme,'inactive');
    font-size: 1rem;
    transition: color 0.15s ease;

    &:hover {
      cursor: pointer;
      color: map-get($theme, 'hover');
    }

    &.active {
      color: map-get($theme, 'secondary');
      font-weight: 500;
      pointer-events: none;
    }
  }

  .navbar-about {
    @include animateFadeIn(1.9s);
  }

  .navbar-projects {
    @include animateFadeIn(2.1s);
  }

  .navbar-skills {
    @include animateFadeIn(2.3s);
  };

  .navbar-contact {
    @include animateFadeIn(2.5s);
  }
}

/* @media (min-width: 992px) {
  .navbar-container {
    flex-direction: column;
    gap: 0.15rem;

    .navbar-about,
    .navbar-projects,
    .navbar-skills,
    .navbar-contact {
      font-size: 1.25rem;
    }
  }
} */