@import '@styles/colors';
@import '@styles/animations';

.navbar-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  
  .navbar-home,
  .navbar-about,
  .navbar-projects,
  .navbar-contact {
    color: map-get($colors, acc2);
    font-size: 1rem;
    transition: color 0.15s ease;

    &:hover {
      color: map-get($colors, acc1);
      cursor: pointer;
    }

    &.active {
      color: map-get($colors, sec);
      font-weight: 500;
      pointer-events: none;
    }
  }

  .navbar-home {
    @include animateFadeIn(1.4s);
  }

  .navbar-about {
    @include animateFadeIn(1.6s);
  }

  .navbar-projects {
    @include animateFadeIn(1.8s);
  };

  .navbar-contact {
    @include animateFadeIn(2s);
  }
}

@media (min-width: 768px) {
  .navbar-container {
    gap: 2rem;
  }
}