@use '@styles/animations';
@use '@styles/colors.scss';

.desktop-navbar-container {
  display: none;
}

@media (min-width: 768px) {
  .desktop-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .desktop-navbar-home,
    .desktop-navbar-about,
    .desktop-navbar-projects,
    .desktop-navbar-contact {
      padding: 0 1rem;
      font-size: 1rem;
      @include colors.theme-color(color, border);
      transition: color 0.2s ease;

      &:hover {
        cursor: pointer;
        @include colors.theme-color(color, text);
      }

      &.active {
        font-weight: 550;
        pointer-events: none;
        /* @include theme-color(color, text); */
      }
    }

/*     .desktop-navbar-home {
      @include animateFadeIn(1.3s);
    }

    .desktop-navbar-about {
      @include animateFadeIn(1.35s);
    }

    .desktop-navbar-projects {
      @include animateFadeIn(1.4s);
    }

    .desktop-navbar-contact {
      @include animateFadeIn(1.45s);
    } */
  }
}