@import '../../../styles/animations';
@import '../../../styles/colors';

.mobile-navbar-container {
  display: flex;
  flex-direction: column;
  z-index: 2;

  .mobile-navbar-home,
  .mobile-navbar-about,
  .mobile-navbar-projects,
  .mobile-navbar-contact {
    font-size: 1.25rem;
    padding: 1.25rem 0;
    @include theme-color(color, border);

    &:hover {
      cursor: pointer;
      @include theme-color(color, text);
    }
  }
}

@media (min-width: 768px) {
  .mobile-navbar-container {
    display: none;
  }
}
