@import '../../../../styles/colors.scss';

.about-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding: 2rem 0 0;
  border-top: 1px solid;
  @include theme-color(border-color, border);

  .about-skills-title {
    font-size: 1rem;
    margin: 0 0 2rem;
    @include theme-color(color, text);
  }

  .about-skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 1rem;
  }
}

@media (min-width: 768px) {
  .about-skills {
    padding: 2rem 0 0;

    .about-skills-title {
      font-size: 1.15rem;
    }
  }
}

@media (min-width: 1200px) {
  .about-skills {

    .about-skills-list {
      grid-template-columns: repeat(4, 1fr);

      .javascript {
        order: 1;
      }

      .typescript {
        order: 2;
      }

      .java {
        order: 3;
      }

      .git {
        order: 4;
      }

      .html {
        order: 5;
      }

      .react {
        order: 6;
      }

      .spring {
        order: 7;
      }

      .postgresql {
        order: 8;
      }

      .css {
        order: 9;
      }

      .redux {
        order: 10;
      }

      .node {
        order: 11;
      }

      .docker {
        order: 12;
      }

      .sass {
        order: 13;
      }

      .jest {
        order: 14;
      }

      .express {
        order: 15;
      }

      .figma {
        order: 16;
      }
    }
  }
}