@import '@styles/colors';
@import '@styles/animations';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  margin: 0 0 1.5rem;
  @include animateFadeIn(1.1s);
  transition: background-color 0.2s ease;

  .logo-text {
    color: map-get($colors, sec);
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .logo {
    margin: 0;
  }
}