@import '../../../styles/animations';
@import '../../../styles/colors';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem 0 0;
  transition: color 0.2s ease;

  &:hover {
    cursor: pointer;
    @include theme-color(color, accent);
  }

  .name {
    font-size: 1rem;
    transition: transform 0.2s ease;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }
}